<%= form_with(model: associate, local: true) do |form| %>
  <% if associate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(associate.errors.count, "error") %> prohibited this associate from being saved:</h2>

      <ul>
      <% associate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
        <%= form.label :display_name, "Nom d’usage" %><br>
        <%= form.text_field :display_name %>
    </div>

    <div class="field">
        <%= form.label :email, "Adresse courriel" %><br>
        <%= form.email_field :email %>
    </div>

    <div class="field">
        <%= form.label :access, "Accès au site" %><br>
        <%= form.check_box :access %>
    </div>
    
    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>
