<h1>Liste des associés</h1>
 
<ul>
  <% @associate.each do |associate| %>
    <li>
      <%= link_to associate.display_name, associate_path(associate) %>
        <%= associate.email %>
        <% if associate.access %>(accès autorisé)<% end %>
        | <%= link_to "Modifier", edit_associate_path(associate) %>
      </li>
  <% end %>
</ul>

<p><%= link_to 'Ajouter un associé', new_associate_path %></p>
