<h1>Ajout d’associé</h1>
<p>Attention : le compte est habituellement créé par l’associé·e directement.</p>
<p>Tout compte créé dans ce menu ne permettra pas de se connecter.</p>

<%= render 'form', associate: @associate %>

<%= link_to 'Retour', associates_path %>
