<% if flash.notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<% if flash.alert %>
  <p id="alert"><%= flash.alert %></p>
<% end %>

<div>
  <p>
    Bonjour <strong><%= @associate.display_name %></strong>
  </p>
  <ul>
    <li><strong>Bilan</string> <%= @summary.net_balance %></li>
    <li><strong>Prime proposée</string> <%= @summary.suggested_bonus %></li>
  </ul>
</div>

<%= form_for @associate.spendings.new, remote: true do |f| %>
  <%= f.hidden_field :associate_id, value: @associate.id %>
  <div class="field">
    <%= f.label :amount, "Montant" %>
    <%= f.number_field :amount, min: 0%>
    <%= select_month(Date.today, field_name: :month, prefix: :spending) %>
    <%= select_year(Date.today, field_name: :year, prefix: :spending) %>
    <%= f.submit 'Ajouter la dépense'%>
  </div>
<% end %>

<%= form_for @associate.incomes.new do |f| %>
  <%= f.hidden_field :associate_id, value: @associate.id %>
  <div class="field">
    <%= f.label :amount, "Revenu (Hors TVA)" %>
    <%= f.number_field :amount, min: 0 %>
    <%= f.label :label, "Étiquette" %>
    <%= f.text_field :label %>
    <%= select_month(Date.today, field_name: :month, prefix: :income) %>
    <%= select_year(Date.today, field_name: :year, prefix: :income) %>
    <%= f.collection_select :share_model, ShareModel.all, :id, :label %>
    <%= f.submit 'Ajouter le revenu' %>
  </div>
<% end %>

<%= form_for @associate.salaries.new do |f| %>
  <%= f.hidden_field :associate_id, value: @associate.id %>
  <div class="field">
    <%= f.label :net_pay, "Salaire net" %> <%= f.number_field :net_pay, min: 0 %>
    <%= f.label :employee_contribution, "Cotisation salariale" %> <%= f.number_field :employee_contribution, min: 0 %>
    <%= f.label :employer_contribution, "Cotisation patronale" %> <%= f.number_field :employer_contribution, min: 0 %>
    <%= f.label :saving_plan_contribution, "Abondement" %> <%= f.number_field :saving_plan_contribution, min: 0 %>
    <%= select_month(Date.today, field_name: :month, prefix: :salary) %>
    <%= select_year(Date.today, field_name: :year, prefix: :salary) %>
    <%= f.submit 'Ajouter le salaire' %>
  </div>
<% end %>

<% @associate.data_by_month.each do |month, data| %>
  <h2><%= month[1] %> / <%= month[0] %></h2>
  <% if data[:spending] %>
    <h3> Dépenses </h3>
    <ul>
      <% data[:spending].each do |spending| %>
        <li>
          <%= spending.pretty_print %>
          <%= link_to 'Supprimer', spending, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if data[:income] %>
    <h3> Revenus </h3>
    <ul>
      <% data[:income].each do |income| %>
        <li>
          <%= income.pretty_print %>
          <%= link_to 'Supprimer', income, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if data[:salary] %>
    <h3> Salaires </h3>
    <ul>
      <% data[:salary].each do |salary| %>
        <li>
          <%= salary.pretty_print %>
          <%= link_to 'Supprimer', salary, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<%= link_to 'Modifier', edit_associate_path(@associate) %> |
<%= link_to 'Retour', associates_path %>
